---
import type { CollectionEntry } from 'astro:content';
import PageLayout from '../../layouts/PageLayout.astro';
import ServicePage from './ServicePage.astro';

export interface Props {
  service: CollectionEntry<'services'>;
  className: string;
  layoutTitle?: string;
  description?: string;
  canonical?: string;
  robots?: string;
}

const { service, className, layoutTitle, description = service.data.intro, canonical, robots }: Props = Astro.props;
---

<PageLayout title={layoutTitle} description={description} canonical={canonical} robots={robots}>
  <main class={`subpage ${className}`}>
    <ServicePage {...service.data} />
  </main>
</PageLayout>
