---
import { getCollection, type CollectionEntry } from 'astro:content';
import PageLayout from '../../layouts/PageLayout.astro';
import CaseStudyLayout from '../../components/case-studies/CaseStudyLayout.astro';

type Props = {
  caseStudy: CollectionEntry<'case-studies'>;
};

export async function getStaticPaths() {
  const caseStudies = await getCollection('case-studies');

  return caseStudies.map((caseStudy) => ({
    params: { slug: caseStudy.slug },
    props: { caseStudy }
  }));
}

const { caseStudy }: Props = Astro.props;
const { Content } = await caseStudy.render();
const hasBody = caseStudy.body.trim().length > 0;
---

<PageLayout title={`${caseStudy.data.title} | Bradley Arsenault`}>
  <main class={`subpage subpage-case-studies-${caseStudy.slug}`}>
    <CaseStudyLayout
      title={caseStudy.data.client}
      navLabel={caseStudy.data.client}
      backHref={caseStudy.data.backHref}
      image={caseStudy.data.image}
      lede={caseStudy.data.lede}
    >
      {hasBody ? (
        <Content />
      ) : (
        <>
          {caseStudy.data.paragraphs.map((paragraph) => <p>{paragraph}</p>)}
          {caseStudy.data.failureDiagram && (
            <div class="failure-diagram">
              <em>{caseStudy.data.failureDiagram.sourceLabel}</em>
              <em>{caseStudy.data.failureDiagram.resultLabel}</em>
              <span>{caseStudy.data.failureDiagram.source}</span>
              <strong>{caseStudy.data.failureDiagram.result}</strong>
            </div>
          )}
        </>
      )}
    </CaseStudyLayout>
  </main>
</PageLayout>
